<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9vWh6ul6BXJ7N0RGcQzZk-Bp2ZFqiOsU</string>
	<key>GCM_SENDER_ID</key>
	<string>56503226726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wishipfaas.app</string>
	<key>PROJECT_ID</key>
	<string>weshipfast-2fbb1</string>
	<key>STORAGE_BUCKET</key>
	<string>weshipfast-2fbb1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56503226726:ios:84625df3e4db7ce378f8a7</string>
</dict>
</plist>